<!DOCTYPE html>
<html>
<head>
  <%# Replace with your application name %>
  <title>Starter App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="/stylesheets/application.css">
</head>

<body>
  <nav class="navbar bg-primary mb-3" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Kwitter</a>
      <span class="navbar-text">
        <% @user = User.find_by(id: session["user_id"]) %>
        <% if @user.nil? %>
          <a href="/users/new">Sign Up</a> | <a href="/login">Login</a>
        <% else %>
          <%= @user["real_name"] %> | <a href="/logout">Logout</a>
        <% end %>
      </span>
    </div>
  </nav>

  <div class="container">
    <p>
      <%= flash["notice"] %>
    </p>

    <%= yield %>
  </div>
</body>
</html>
